body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(215, 215, 215);
}

#hello {
    background-color: rgba(163, 183, 201, 0.668);
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 400px;
}
.button-container {
    text-align: center;
    margin-top: 20px;
}

h1 {
    margin-bottom: 20px;
    color: #555;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #555;
}

button {
    padding: 10px 20px;
    background-color: #8bd1dd;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: #555;
}

#hex-code {
    margin-top: 10px;
}
